body {
    background-color: #dedede;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
    color: #ffffff;
}
ul > li {
    float: left;
    border-right: 2px solid #eeeeee;
}
ul > li:last-child {
    border-right: none;
}
ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
ul > li > a:hover:not(.active) {
    background-color: #ee008c;
    font-weight: bold;
}
ul > li > a.active {
    background-color: #00ff00;
}

#login {
    background-color: #64ffda;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 20px;
}
